<div class="container  ">
    <div class="row">
<div class=" col-md-4   ">

    <% if @account.image.attached? %>
    <%= image_tag url_for(@account.image), style: "width:200px; height:200px; border-radius:50%; object-fit:cover;" %> 
 <% else %>
     <%= image_tag "default.png", style: "width:200px; height:200px; border-radius:50%; object-fit:cover;" %>
  <% end %>

</div>

        <div class="col-8 d-flex text-left  " >
   <div class="flex items-center space-x-6  ">
  <h1><%= @account.username %></h1>

<div>
        <span class="m-3"><%= @account.posts.count %> posts</span>
  Followers: <span id="followers_count"><%= @account.followers.count %></span>
  Following: <span id="following_count"><%= @account.following.count %></span>
</div>


    <% if current_account == @account %>
  <%= link_to "Edit profile", edit_account_registration_path, class: "btn btn-sm btn-secondary " %>
   <% end %>

    <p><%= @account.full_name %></p>
    <p><%= @account.description %></p>
    <p><%= link_to @account.website if @account.website.present? %></p>
      </div>
    </div>
    </div>
<div class="row">
  <% @posts.each do |post| %>
    <div class="col-lg-3 col-sm-6 mb-4 d-flex justify-content-center">
      <% if post.image.attached? %>
        <div class="card shadow-lg border-0" style="width: 260px;">
          <div class="card-body text-center border-0 bg-#fff p-2  border border-gray-30">
        <div class="d-flex justify-content-between align-items-center">
            <h6 class="fw-bold  "><%= post.account.username %></h6>
        <% if current_account == post.account %>
       <%= button_to post_path(post),
        method: :delete,
         class: "btn btn-sm btn-outline-danger p-1",
        form: { data: { turbo_confirm: "Are you sure?" } } do %>
      <i class="fas fa-trash"></i>
     <% end %>
     <% end %>
         </div>

          </div>
          <%= image_tag post.image, style: "height: 250px; object-fit: cover;" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

    </div>


  


